$font-family-heading: "Lato", sans-serif;
$font-family-base: "Lato", sans-serif;


$red:     #F22539 !default;
$grey-poke: #bfbfbf !default;

$primary:       $red !default;
$dark:          $grey-poke !default;

$body-bg: #E5E5E550 !default;